ul {
    list-style-type: none;
}

div {
    display: flex;
}

.header, .content-1, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo-1 p {
    font-size: 24px;
}

.text-1 h1 {
    font-size: 48px;
    font-weight: bolder;
}

.text-1 p {
    color: #E5E7EB;
    font-size: 18px;
}

.content-3 {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    background-color: #E5E7EB;
}